html,
body {
	font-size: $root-font-size;
	@media (min-width: 34em) {font-size: 16px;}
}



@media (max-width: 62em) {

	// Make default navbar links display block on small screens
	.navbar-brand,
	.navbar-nav .nav-item {
		float: none;
		display: block;
	}
	.navbar-brand {
		float: right;
	}
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}

}

@media (max-width: 34em) {

	// Remove bottom margin on jumbotron to line buttons up to it
	.jumbotron {
		margin-bottom: 0;
	}

}

// Remove default border radius from .navbar
.navbar {
	border-radius: 0 !important;
}

// Add background to jumbotron
.jumbotron-fluid {
	min-height: 240px;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/201958/CARS-BS4-Jumbotron-BG-V2.svg");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 200%;

	@media (min-width: 34em) {
		min-height: 620px;
	}

}

.jumbotron-fluid h1 {
	@media (min-width: 48em) {
		font-size: 3.5rem;
	}
	@media (min-width: 65em) {
		font-size: 4.5rem;
	}
}

#jumbotronFeaturedJob {
	&:hover {
		text-decoration: none;
	}
}

.jumbotron-heading-abbr {
	border-bottom: none !important;
}

// Remove border radius buttons
.mobile-btns .btn  {
	border-radius: 0;
	margin: 0;
}

// Make angle icons the same size and the large button text
.mobile-btns .btn .fa {
	font-size: 2.2rem;
}

.latest-job-listings {
	height: 1000px;
}

// Remove border radius from buttons in sections
.employers .btn,
.job-seekers .btn {
	border-radius: 0;
}

// Add background to callback section
.callback-bg {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/201958/CARS-BS4-Callback-BG-V3.svg");
	background-position: calc(100% - 1rem) 130px;
	background-repeat: no-repeat;
	background-size: 40%;
}

.testimonials-bg {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/201958/CARS-BS4-Testimonial-BG.svg");
	background-position: center 40px;
	background-repeat: no-repeat;
	background-size: 30%;
}

// downsize footer text
footer {
	font-size: 0.8rem;
}

// Create placeholders for employer and job seeker sections
.place-holder-box {
	min-width: 100%;
	min-height: 180px;
}



// For the slide in effect on scroll
.come-in,
.im-in {
	transform: translateY(0);
	transition-duration: 1s;
}
@media (min-width: 34em) {
  section {
	    transform: translateY(180px);
	}
}
